apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp
  namespace: todoapp
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: todoapp
  template:
    metadata:
      labels:
        app: todoapp
    spec:
      containers:
      - name: todoapp
        image: ikulyk404/todoapp:3.0.0
        resources:
          requests:
            memory: "256Mi"
            cpu: "150m"
          limits:
            memory: "256Mi"
            cpu: "150m"
        volumeMounts:
        - name: data
          mountPath: /app/data
        - name: todoapp-secret-volume
          mountPath: /app/secrets
          readOnly: true
        - name: todoapp-config-volume
          mountPath: /app/config
          readOnly: true
        env:
        - name: PYTHONUNBUFFERED
          valueFrom:
            configMapKeyRef:
              name: todoapp-config
              key: PYTHONUNBUFFERED
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: todo-secret-key
              key: SECRET_KEY  
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: api/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: api/ready
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5 
        volumes:
        - name: data
          persistentVolumeClaim:
            claimName: todoapp-pvc
        - name: todoapp-secret-volume
          secret:
            secretName: todo-secret-key
        - name: todoapp-config-volume
          configMap:
            name: todoapp-config
        
